.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  color: white;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.disconnectedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0 24px;
  margin-top: 96px;
}
.divConnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 24px;
  margin-top: 96px;
}
.h1 {
  margin-bottom: 0px;
}
.topHolders__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 550px;
  background-color: black;
  border-radius: 20px;
  border-width: 2px;
  border-color: #e1ee25;
  border-style: solid;
}
.colums {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
.topHolders__holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  border-radius: 20px;
}
.Address__amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border-width: 2px;
  border-color: #e1ee25;
  border-style: solid;
  border-radius: 20px;
  padding: 0 24px;
}

.explain {
  font-size: 1.125rem;
}

.lightPurple {
  color: #e011a7;
}
.tablaAddress {
  font-size: smaller;
  color: #e1ee25;
}
.tablaAddressM {
  font-size: medium;
  color: #e1ee25;
}

.container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  padding: 0 24px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.bonk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}
.bonkH {
  color: #e1ee25;
}

@media (max-width: 768px) {
  .topHolders__container {
    width: 350px;
  }
  .h1 {
    margin-bottom: 0px;
  }
  .explain {
    font-size: 1.125rem;
  }
  .lightPurple {
    color: #e011a7;
  }
}
